build/
.cache/
.ccls-cache/
compile_commands.json
test.ppm
docs/doxygen/
docs/_build/
/cmake-build-debug/
/cmake-build-release/
/cmake-build-debug-clang/
/cmake-build-release-clang/
.idea/
/cmake-build-debug-clang-coverage/
/test/cmake-build-release-clang/
/test/cmake-build-debug-clang/
/cmake-build-release-clang-profile/
/cmake-build-release-gcc/
/cmake-build-release-gcc-profile/
/cmake-build-debug-gcc/
/cmake-build-debug-gcc-coverage/
/cmake-build-debug-visual-studio/
/cmake-build-release-visual-studio/
/cmake-build-release-visual-studio-profile/
.xmake/
